.navbar_wrapper {
    height: 100%;
    width: 64px;
    grid-area: nav;
    background: #FFFFFF;
}

.nav {
    width: 64px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.nav a:not(.activeLink){
    background: #F5F5F5;
}

.nav a {
    margin: 0 auto 24px auto;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    /*cursor: default;*/
    /*pointer-events: none;*/
}

.activeLink {
    background: rgba(255, 122, 79, 0.2);
}
.nav img {
    padding: 4px;
}

@media (min-width: 1440px) {
    .nav {
        height: 500px;
    }
}