@import url("./Components/Header/Header.module.css");
@import url("./Components/Content/Content.module.css");

.app_wrapper {
    width:  100%;
    height: 913px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    background: #E5E5E5;
}

.menu_btn_checkbox:checked~.contentItem {
    width: 200px;
    margin-left: 200px;
}